@import '/css/normalize.css';

:root {
	--color-primary: #4a548c;
	--color-secondary: #f0f0f2;
	--color-accent: #1c8c6c;
	--color-headings: #223440;
	--color-gray: #f0f0f0;
	--color-body: #fff;
	--color-body-darker: #5c5577;
	--color-border: #657a8c;
	--border-radius: 30px;

	/*
	#D9C148
#D9BE6C
#BF8136
#8C4F2B
#592E2A



like it better
#4A548C
#F0F0F2
#657A8C
#223440
#1C8C6C
*/
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

/* Typography */
::selection {
	background: var(--color-primary);
	color: #fff;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Source Sans Pro', Arial, Arial, Helvetica, sans-serif;
	background-color: var(--color-body);
	font-size: 2rem;
	line-height: 1.5;
}

.container {
	max-width: 1140px;
	margin: 0 auto;
}

.container-centered {
	display: flex;
	justify-content: center;
}

/* Links */
a {
	color: #223440;
	text-decoration: none;
	cursor: pointer;
}

/* Logo */
.logo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 250px;
}

.logo__name {
	display: flex;
	flex-direction: row;
	text-shadow: 0px 0px 2px var(--color-accent);
	letter-spacing: -1.5px;
}

.logo__name-julia {
	margin: 0;
	font-size: 4rem;
	font-weight: 700;
}

.logo__name-carriquiry {
	margin: 0;
	font-size: 4rem;
	font-weight: 300;
}

.logo__line {
	display: flex;
	background-color: #2234404b;
	height: 1px;
	width: 100px;
	margin: 5px auto 0 auto;
}

.logo-photography {
	margin: 5px 0 0px 0;
	font-size: 1.8rem;
	font-weight: 400;
	color: var(--color-primary);
	text-shadow: 0px 0px 2px var(--color-accent);
}

/* Navbar */

.nav {
	background-color: var(--color-body);
}

.nav__container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 0 1rem;
	align-items: center;
}

.contact__button {
	background-color: var(--color-body);
	border: 0;
	text-decoration: underline;
	text-decoration-color: var(--color-accent);
	text-underline-offset: 5px;
	transition: all ease 0.2s;
}

.contact__button:hover {
	transform: scale(1.05);
	font-weight: 500;
}
