@import '/css/normalize.css';

:root {
	--color-primary: #4a548c;
	--color-secondary: #f0f0f2;
	--color-accent: #1c8c6c;
	--color-headings: #223440;
	--color-gray: #f0f0f0;
	--color-body: #fff;
	--color-body-darker: #5c5577;
	--color-border: #657a8c;
	--border-radius: 30px;

	/*
	#D9C148
#D9BE6C
#BF8136
#8C4F2B
#592E2A



like it better
#4A548C
#F0F0F2
#657A8C
#223440
#1C8C6C
*/
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

/* Typography */
::selection {
	background: var(--color-primary);
	color: #fff;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Source Sans Pro', Arial, Arial, Helvetica, sans-serif;
	background-color: var(--color-body);
	font-size: 2rem;
	line-height: 1.5;
}

.container {
	max-width: 1140px;
	margin: 0 auto;
}

/* Links */
a {
	color: #223440;
	text-decoration: none;
}

/* Logo */
.logo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.logo__name {
	display: flex;
	flex-direction: row;
	align-items: center;
	letter-spacing: -1.5px;
}

.logo__name-julia {
	margin: 0;
	font-size: 3rem;
	font-weight: 500;
}

.logo__name-carriquiry {
	margin: 0;
	font-size: 3rem;
	font-weight: 300;
}

.logo__line {
	display: flex;
	background-color: #2234404b;
	height: 30px;
	width: 1px;
	margin: 0 1rem;
}

.logo-photography {
	font-size: 1.8rem;
	font-weight: 400;
	color: #223440;
	margin: 0;
	text-shadow: 0px 0px 2px #2234403f;
}

/* Navbar */

.nav {
	background-color: var(--color-body);
}

.nav__container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	margin: 1rem auto;
}

.contact__button {
	cursor: pointer;
	font-size: 1.6rem;
	padding: 1.5rem;
	width: 15rem;
	border: 0;
	transition: all ease 0.2s;
}

.contact__button:hover {
	transform: scale(1.05);
	font-weight: 500;
}

.contact__button--black {
	background-color: var(--color-headings);
	color: var(--color-gray);
}

.contact__button--black:hover {
	background-color: var(--color-gray);
	color: #223440;
}

.contact__button--grey {
	background-color: var(--color-gray);
	color: #223440;
}

.contact__button--grey:hover {
	background-color: var(--color-headings);
	color: var(--color-gray);
}

/* Content Section */

.content__container {
	display: flex;
	flex-direction: column;
}

.content__image {
	width: 100%;
	max-height: 600px;
}

.content__container img {
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.content__card {
	display: block;
	flex-direction: column;
	padding: 6rem 10rem;
	min-width: 450px;
}

.content__card h1 {
	text-transform: uppercase;
	font-weight: 500;
}

.content__card--black {
	background-color: #000;
	color: #f0f0f0;
}

.content__card--black p {
	color: var(--color-border);
	font-size: 1.6rem;
	padding-bottom: 2rem;
}

.content__card--white {
	background-color: #fff;
	color: var(--color-headings);
}

.content__card--white p {
	color: var(--color-border);
	font-size: 1.6rem;
	padding-bottom: 2rem;
}

@media screen and (min-width: 768px) {
	.content__container {
		flex-direction: row;
	}

	.content__container-left {
		flex-direction: row-reverse;
	}

	.content__container .content__image {
		width: 60%;
	}

	.content__card {
		width: 40%;
	}
}

/* Contact */
.contact__container {
	background-color: #f0f0f265;
	display: block;
	text-align: center;
	max-width: 700px;
	margin: 0 auto;
	padding: 6rem 10rem 2rem 10rem;
	height: 80rem;
}
.contact__header h2 {
	text-transform: uppercase;
	font-weight: 500;
}

.contact__container p {
	color: var(--color-border);
	font-size: 1.6rem;
	padding-bottom: 2rem;
}

form {
	padding-top: 5rem;
	display: flex;
	flex-direction: column;
	padding-bottom: 3rem;
}

form input,
textarea {
	font-size: 1.6rem;
	background-color: #f0f0f2;
	border: 0;
	padding: 1.6rem 1rem;
	padding-left: 2.4rem;
	margin-bottom: 3.4rem;
}

textarea {
	resize: vertical;
	min-height: 120px;
}

.form__button {
	align-self: flex-end;
}

.footer {
	height: 30rem;
}

@media (min-width: 1100px) {
	.contact__container {
		display: grid;
		grid-template-columns: repeat(2, 45rem);
		grid-gap: 2rem;
		align-items: start;
		padding-top: 15rem;
		text-align: left;
		max-width: 1140px;
	}

	.contact__header {
		grid-column: 1 / span 1;
		grid-row: 1 / span 1;
	}

	form {
		padding-top: 0;
		grid-column: 2 / span 1;
		grid-row: 1 / span 1;
		border: 0;
	}
}
